@charset "UTF-8";

.body {
    background-color: #FED2A1;
    background-repeat: repeat;
    background-size: 129px auto;
    background-image: url(../images/cats.png);
}
.nav {
    margin-top: -77px;
    margin-left: 2px;
    padding-left: 274px;
    padding-top: 26px;
}
.body h1 {
    color: #292929;
    text-decoration: none;
    font-family: "Magic Owl Personal Use";
    font-size: 62pt;
    padding-bottom: 25px;
    border-color: #FED2A1;
    /* [disabled]width: 182px; */
    text-align: center;
}
.h2 {
}
.body p {
    color: #100D0A;
    text-align: left;
}
.content {
    background-color: #FEE5C8;
    width: 540px;
    padding-left: 40px;
    margin-left: 373px;
    padding-right: 40px;
    opacity: 0.94;
    margin-right: 54px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: medium double #E9583D;
}
.div {
    width: 201px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8C5AB6;
    text-align: center;
    font-size: 14pt;
    display: inherit;
    float: left;
    clear: none;
    background-color: #E9583D;
}
.div2 {
    font-size: 14pt;
}
	a:link {

  color: #FED2A1; 

  background-color: transparent; 

  text-decoration: none;

}


a:visited {

  color: #FED2A1;

  background-color: transparent;

  text-decoration: none;

}


a:hover {

  color: #FED2A1;

  background-color: transparent;

  text-decoration: underline;

}


a:active {

  color: #FED2A1;

  background-color: transparent;

  text-decoration: underline;

}
}

@media (max-width : 1390px ){
}

@media (min-width : -41px ){
}
.sideBar {
    background-color: #FFE3C5;
    border-style: double;
    border-color: #E9583D;
    width: 144px;
    height: 540px;
    padding-left: 10px;
    left: 0px;
    float: right;
    margin-top: -799px;
    margin-right: 206px;
}
.titleBox {
    background-color: #FED2A1;
    /* [disabled]display: block; */
    /* [disabled]-webkit-box-sizing: content-box; */
    /* [disabled]-moz-box-sizing: content-box; */
    /* [disabled]box-sizing: content-box; */
    opacity: 0.74;
    padding-bottom: 0px;
    padding-top: 0px;
}
.imageCl {
    float: left;
    border: thick dotted #CDA16D;
}
.imageUm {
    border: thick dotted #CDA06D;
    margin-left: 67px;
}
.dataInfo {
    margin-left: 136px;
    border: thick dotted #CDA16D;
}
.catData {
    border: thick dotted #CDA16D;
}
.twoCats {
    border: thick dotted #CDA16D;
}
.div2Cats {
    width: 205px;
    height: 0px;
    text-align: center;
}
.jar {
    float: right;
    border: thick dotted #CDA16D;
}
.divJar {
    width: 154px;
    height: 0px;
    margin-left: 355px;
    text-align: center;
}
.fox {
    margin-top: 66px;
    margin-left: 124px;
    border: thick dotted #CDA16D;
}
.divFox {
    width: 232px;
    margin-left: 160px;
    text-align: center;
}
.flareon {
    margin-left: 123px;
    border: thick dotted #CDA16D;
}
.flareondiv {
    text-align: center;
    width: 248px;
    margin-left: 156px;
}
.chipTune {
    margin-left: 124px;
    border: thick dotted #CDA16D;
}
.divChip {
    width: 152px;
    text-align: center;
    margin-left: 206px;
}
.Degree {
    width: 51px;
    background-color: #A01517;
}
.Resume {
    width: 615px;
    background-color: #FFE3C5;
    margin-left: -36px;
    margin-right: 60px;
    font-size: large;
}
